*
!.gitignore
!main.cpp
!CMakeLists.txt
!LICENSE
!README.md
!scripts/
!scripts/**
!input/
!input/owc.dat
!input/linear_wc/
!input/linear_wc/**/*.txt
!input/exp_wc/
!input/exp_wc/**/*.txt
!input/quadratic_wc/
!input/quadratic_wc/**/*.txt

*.pyc
